  <!--==========================
    About Section
  ============================-->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2>About The Event</h2>
          <p>{{ section.about | markdownify }}</p>
        </div>
        <div class="col-lg-3">
          <h3>Where</h3>
          <p>{{ section.where | markdownify }}</p>
        </div>
        <div class="col-lg-3">
          <h3>When</h3>
          <p>
          {{ section.when | markdownify }}</p>
        </div>
      </div>
    </div>
  </section>
