<!--==========================
  Buy Ticket Section
============================-->
<script src='https://js.tito.io/v1' async></script>
<section id="buy-tickets" class="section-with-bg wow fadeInUp">
  <div class="container">

    <div class="section-header">
      <h2>Buy Tickets</h2>
      <p>Save your ticket as soon as possible. There will only be 100 seats, first come first serve.</p>
    </div>

    <div class="row">
    {% for ticket in section.tickets %}
      {% if ticket.active != true %}{% continue %}{% endif %}
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">{{ ticket.name }}</h5>
            <h6 class="card-price text-center">{{ ticket.price }}</h6>
            <hr>
            <ul class="fa-ul">
              {% for item in ticket.included %}
              <li><span class="fa-li"><i class="fa fa-check"></i></span>{{ item }}</li>
              {% endfor %}
              {% for item in ticket.not-included %}
              <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>{{ item }}</li>
              {% endfor %}
            </ul>
            <hr>
            <div class="text-center">
              {% if ticket.soldout == true %}
              <button type="button" class="btn" style="background-color: #999999;">Sold out</button>
              {% else %}
              <tito-button event="phpuceu/weuc2021" releases="{{ ticket.tito-release }}">Buy Now</tito-button>
              {% endif %}
              
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

  </div>

</section>
