    <!--==========================
      Hotels Section
    ============================-->
    <section id="hotels" class="section-with-bg wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Hotels</h2>
          <p>Her are some nearby hotels</p>
        </div>

        <div class="row">

          {% for hotel in section.hotels %}
          <div class="col-lg-4 col-md-6">
            <div class="hotel">
              <div class="hotel-img">
                <img src="assets/img/hotels/{{ hotel.image }}" alt="{{ hotel.name }}" class="assets/img-fluid">
              </div>
              <h3><a href="{{ hotel.link }}">{{ hotel.name }}</a></h3>
              <div class="stars">
              {% for i in (1..hotel.stars) %}
                <i class="fa fa-star"></i>
              {% endfor %}
              </div>
              
              <p>{{ hotel.distance }}</p>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>

    </section>
