    <!--==========================
      Speakers Section
    ============================-->
    <section id="people" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Meet great people</h2>
          <p>Here's a sample of remarkable event supporters</p>
        </div>

        <div class="row">

          {% for person in section.people %}
          <div class="col-lg-3 col-md-6">
            <div class="people">
              <img src="assets/img/people/{{ person.image }}" alt="{{ person.name }}" class="assets/img-fluid">
              <div class="details">
                <h3>{{ person.name }}</h3>
                <p>{{ person.title }}</p>
                <div class="social">
                  {% if person.twitter %}<a href="{{ person.twitter }}"><i class="fa fa-twitter"></i></a>{% endif %}
                  {% if person.facebook %}<a href="{{ person.facebook }}"><i class="fa fa-facebook"></i></a>{% endif %}
                  {% if person.linkedin %}<a href="{{ person.linkedin }}"><i class="fa fa-linkedin"></i></a>{% endif %}
                  {% if person.youtube %} <a href="{{ person.youtube }}"><i class="fa fa-youtube"></i></a>{% endif %}
                  {% if person.github %} <a href="{{ person.github }}"><i class="fa fa-github"></i></a>{% endif %}
                  {% if person.instagram %} <a href="{{ person.instagram }}"><i class="fa fa-instagram"></i></a>{% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

      </div>

    </section>