<!--==========================
  Schedule Section
============================-->
<section id="schedule" class="section-with-bg">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h2>Event Schedule</h2>
        </div>

        <h3 class="text-center">Friday, 20th September 2024</h3>
        <ul>
            <li>8.00 pm - 10.00 pm - Pre Party @ Syndeo Inn Terracce, Meliá Hotel Innside Bosque - Drinks included</li>
        </ul>
        <hr>

        <h3 class="text-center">Saturday, 21st September 2024</h3>
        <ul>
            <li>8.30 am Check-In & 9.00 am Start of Conference</li>
            <li>12.30 pm Lunch @ Syndeo Inn Terracce, Meliá Hotel Innside Bosque</li>
            <li>6.30pm End of Sessions</li>
            <li>8.00pm Dinner @ Syndeo Inn Terracce, Meliá Hotel Innside Bosque</li>
        </ul>

        <hr>

        <h3 class="text-center">Sunday 22nd September 2024</h3>
        <ul>
            <li>9.00 am Start of Conference</li>
            <li>12.30 pm Lunch @ Syndeo Inn Terracce, Meliá Hotel Innside Bosque</li>
            <li>4.30pm End of Conference</li>
        </ul>

        <hr>

        <div class="section-header">
            <h2>Event Schedule</h2>
        </div>
        <div class="tab-content row justify-content-center">
            <h3>Saturday, 21st September 2024</h3>
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

                <div class="row schedule-header">
                    <div class="offset-md-3 col-md-3">
                        <h4>The Witch</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>The Alley</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>The Great Hall</h4>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>11:15</time>
                    </div>
                    <div class="col-md-3">
                        <h4>Talking to people - why its hard but good for us</h4>
                        <p>Julia</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Mob Programming</h4>
                        <p>Florian</p>
                    </div>
                    <div class="col-md-3">
                        <h4>AI news & how to build with it (easy mode)</h4>
                        <p>Ben & Maria</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>12:15</time>
                    </div>
                    <div class="col-md-3 col-md-9">
                        <h4>Event Photo</h4>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>12:30-13:30</time>
                    </div>
                    <div class="col-md-3 col-md-9">
                        <h4>Lunch, upstairs on the balcony</h4>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>13:45</time>
                    </div>
                    <div class="col-md-3">
                        <h4>Can Open Telemetry make your life easier? And if YES - How?</h4>
                        <p>Rainer</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Team Photos and Profile Pictures</h4>
                        <p>Konstantin</p>
                    </div>
                    <div class="col-md-3">
                        <h4>300€ every 10 minutes - The crazy concept behind Livestreaming</h4>
                        <p>Tim + Joshi</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>15:00</time>
                    </div>
                    <div class="col-md-3">
                        <h4>LinkedIn Recap - Let us write our LinkedIn post together & talk about bullshit posts on LinkedIn</h4>
                        <p>Tim Rest</p>
                    </div>
                    <div class="col-md-3">
                        <h4></h4>
                    </div>
                    <div class="col-md-3">
                        <h4>Complex questions - easy answer?! (What steers our actions in crisies?)</h4>
                        <p>Julia</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>16:15</time>
                    </div>
                    <div class="col-md-3">
                        <h4>Strict PHP</h4>
                        <p>Alexander M. Turek</p>
                    </div>
                    <div class="col-md-3">
                        <h4></h4>
                    </div>
                    <div class="col-md-3">
                        <h4>Mental Health: ask a suffers anything</h4>
                        <p>Toby Schlitt & ghods</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>17:30</time>
                    </div>
                    <div class="col-md-3">
                        <h4>Vector Databases</h4>
                        <p>Basti</p>
                    </div>
                    <div class="col-md-3">
                        <h4></h4>
                    </div>
                    <div class="col-md-3">
                        <h4>Neuodiversity</h4>
                        <p>Stefan + Julia</p>
                    </div>
                </div>
            </div>


            <h3 style="margin-top: 25px">Sunday, 22nd September 2024</h3>
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-2">

                <div class="row schedule-header">
                    <div class="offset-md-3 col-md-3">
                        <h4>The Witch</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>The Alley</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>The Great Hall</h4>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>9:00</time>
                    </div>
                    <div class="col-md-3 col-md-9">
                        <h4>Welcome</h4>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>TBD</time>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>TBD</time>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>12:30-13:30</time>
                    </div>
                    <div class="col-md-3 col-md-9">
                        <h4>Lunch, upstairs on the balcony</h4>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>TBD</time>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>TBD</time>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>TBD</time>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                    <div class="col-md-3">
                        <h4>TBD</h4>
                        <p>TBD</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>16:30</time>
                    </div>
                    <div class="col-md-3 col-md-9">
                        <h4>End of the Conference</h4>
                    </div>
                </div>
            </div>

            </div>
        </div>
</section>
<!--
<section id="map" class="section-with-bg">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h2>Map to lunch and after-show-party</h2>
            <img src="assets/img/map.jpg" class="img-fluid">
        </div>
    </div>
</section>
-->
