<!--==========================
  Schedule Section
============================-->
<section id="schedule" class="section-with-bg">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h2>Last Year´s Event Schedule</h2>
        </div>

        <h3 class="text-center">Friday, 22nd of September 2023</h3>
        <ul>
            <li>3.00 pm - 6.00 pm Optional: Workshop @INNSIDE Bosque Hotel - <strong>needed to be booked in advance -
                highly
                recommended</strong></li>
            <li>9.00 pm - TGIF - Thank god it's Friday @Ginbo - Come-together at the Ginbo. Please note only drinks, no
                food
                catering.
            </li>
        </ul>

        <hr>
<!--        <h3>Saturday, 23rd September</h3>-->
<!--        <ul>-->
<!--            <li>9.00 a.m. - Welcome hour</li>-->
<!--            <li>10.00 a.m. - 2.00 p.m. - voting, sessions & coffee break</li>-->
<!--            <li>2.00 - 3.00 p.m. - Lunch time / Syndeo Restaurant</li>-->
<!--            <li>3.00 - 6.00 p.m. - sessions & coffee breaks</li>-->
<!--            <li>8.00 p.m. Dinner Party - terrace of our event location: INNSIDE Palma Bosque</li>-->
<!--        </ul>-->
<!--        <h3>Sunday, 24th September</h3>-->
<!--        <ul>-->
<!--            <li>9.30 a.m. - we are open</li>-->
<!--            <li>10.00 a.m. - 1.30 p.m. sessions</li>-->
<!--            <li>1.30 - 2.30 p.m. - Lunch time / Syndeo Restaurant</li>-->
<!--            <li>2.30 - 4.00 p.m. sessions</li>-->
<!--            <li>4.00 p.m. - Closing words</li>-->
<!--        </ul>-->

        <!--        <ul class="nav nav-tabs" role="tablist">-->
        <!--            <li class="nav-item">-->
        <!--                <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Saturday</a>-->
        <!--            </li>-->
        <!--            <li class="nav-item">-->
        <!--                <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Sunday</a>-->
        <!--            </li>-->
        <!--            &lt;!&ndash;          <li class="nav-item">&ndash;&gt;-->
        <!--            &lt;!&ndash;            <a class="nav-link" href="#day-3" role="tab" data-toggle="tab">Day 3</a>&ndash;&gt;-->
        <!--            &lt;!&ndash;          </li>&ndash;&gt;-->
        <!--        </ul>-->

        <!--        &lt;!&ndash;        <h3 class="sub-heading">Voluptatem nulla veniam soluta et corrupti consequatur neque eveniet officia. Eius&ndash;&gt;-->
        <!--        &lt;!&ndash;          necessitatibus voluptatem quis labore perspiciatis quia.</h3>&ndash;&gt;-->

        <div class="tab-content row justify-content-center">
            <h3>Saturday, 23rd September 2023</h3>
            <!-- Schdule Day 2 -->
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

                <div class="row schedule-header">
                    <div class="offset-md-3 col-md-3">
                        <h4>Palma</h4>
                        <!--                <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p>-->
                    </div>
                    <div class="col-md-3">
                        <h4>Sollér</h4>
                        <!--                <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p>-->
                    </div>
                    <div class="col-md-3">
                        <h4>Valdemossa</h4>
                        <!--                <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p>-->
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>11:15</time>
                    </div>
                    <div class="col-md-3">
                        <h4>Software as a medical device</h4>
                        <p>Karl Spies</p>
                    </div>
                    <div class="col-md-3">
                        <h4>&nbsp;</h4>
                        <p>&nbsp;</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Introduce to AI</h4>
                        <p>Betrand Lee</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>12:15</time>
                    </div>
                    <div class="col-md-3">
                        <h4>From Dev'outch to DevOps</h4>
                        <p>Ludo</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Discussion: Inhousie dev vs. Agency Dev - what they want and why</h4>
                        <p>Uwe Kellermann</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Server side rendering using Frontend Frameworks: Why, Why not &amp; How</h4>
                        <p>Hans-Christian Otto</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>13:15</time>
                    </div>
                    <div class="col-md-3">
                        <h4>What is the best job in IT? And how do I become a Sales Engineer?</h4>
                        <p>Rainer Schuppe</p>
                    </div>
                    <div class="col-md-3">
                        <h4>How to fall in love with JIRA</h4>
                        <p>Maria Adler</p>
                    </div>
                    <div class="col-md-3">
                        <h4>How much database abstraction do I need (Doctrine ORM vs DBAL)</h4>
                        <p>Alexander M. Turek</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>14:00</time>
                    </div>
                    <div class="col-md-9">
                        <h4>Event photo</h4>
                    </div>
                    <div class="col-md-9 offset-md-3">
                        <h4>Lunch, upstairs on the balcony</h4>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>15:15</time>
                    </div>
                    <div class="col-md-3">
                        <h4>Next.js Storefront with Shopify, Storefront/Admin GraphQL integration shopping cart page,
                            customer dashboard page</h4>
                        <p>Andrii Melever</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Automatic testing</h4>
                        <p>Fabian, Hagen, Ingo</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Scrum</h4>
                        <p>Scrum Group, Judith</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>16:15</time>
                    </div>
                    <div class="col-md-3">
                        <h4>Debate on topics borrowed from book "rework"</h4>
                        <p>Katharina Vemewad</p>
                    </div>
                    <div class="col-md-3">
                        <h4>From PHP-Core to Core dumps: How to debug crashes in the PHP interpreter</h4>
                        <p>Florian</p>
                    </div>
                    <div class="col-md-3">
                        <h4>How to create a full-remote env that does not suck</h4>
                        <p>Toby Schlitt</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>17:15</time>
                    </div>
                    <div class="col-md-3">
                        <h4>Social Engineering, Cyber Security, Cyber Threat Intelligence</h4>
                        <p>Claudia Bender</p>
                    </div>
                    <div class="col-md-3">
                        <h4>What 10 years in the military taught me about leadership</h4>
                        <p>Ludo</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Am I insane? Mental health in tech (and leadership)</h4>
                        <p>Toby Schlitt &amp; Andreas Ziethen</p>
                    </div>
                </div>
                <!--                <div class="row schedule-item">-->
                <!--                    <div class="col-md-2">-->
                <!--                        <time>10:00 AM</time>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-10">-->
                <!--                        <div class="speaker">-->
                <!--                            <img src="assets/img/speakers/1.jpg" alt="Brenden Legros">-->
                <!--                        </div>-->
                <!--                        <h4>Keynote <span>Brenden Legros</span></h4>-->
                <!--                        <p>Facere provident incidunt quos voluptas.</p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="row schedule-item">-->
                <!--                    <div class="col-md-2">-->
                <!--                        <time>11:00 AM</time>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-10">-->
                <!--                        <div class="speaker">-->
                <!--                            <img src="assets/img/speakers/2.jpg" alt="Hubert Hirthe">-->
                <!--                        </div>-->
                <!--                        <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>-->
                <!--                        <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="row schedule-item">-->
                <!--                    <div class="col-md-2">-->
                <!--                        <time>12:00 AM</time>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-10">-->
                <!--                        <div class="speaker">-->
                <!--                            <img src="assets/img/speakers/3.jpg" alt="Cole Emmerich">-->
                <!--                        </div>-->
                <!--                        <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>-->
                <!--                        <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="row schedule-item">-->
                <!--                    <div class="col-md-2">-->
                <!--                        <time>02:00 PM</time>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-10">-->
                <!--                        <div class="speaker">-->
                <!--                            <img src="assets/img/speakers/4.jpg" alt="Jack Christiansen">-->
                <!--                        </div>-->
                <!--                        <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>-->
                <!--                        <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="row schedule-item">-->
                <!--                    <div class="col-md-2">-->
                <!--                        <time>03:00 PM</time>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-10">-->
                <!--                        <div class="speaker">-->
                <!--                            <img src="assets/img/speakers/5.jpg" alt="Alejandrin Littel">-->
                <!--                        </div>-->
                <!--                        <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>-->
                <!--                        <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="row schedule-item">-->
                <!--                    <div class="col-md-2">-->
                <!--                        <time>04:00 PM</time>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-10">-->
                <!--                        <div class="speaker">-->
                <!--                            <img src="assets/img/speakers/6.jpg" alt="Willow Trantow">-->
                <!--                        </div>-->
                <!--                        <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>-->
                <!--                        <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>-->
                <!--                    </div>-->
                <!--                </div>-->

            </div>


            <!-- Schedule Day 3 -->
            <h3>Sunday, 24th September 2023</h3>
            <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-2">
                <div class="row schedule-header">
                    <div class="offset-md-3 col-md-3">
                        <h4>Palma</h4>
                        <!--                <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p>-->
                    </div>
                    <div class="col-md-3">
                        <h4>Sollér</h4>
                        <!--                <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p>-->
                    </div>
                    <div class="col-md-3">
                        <h4>Valdemossa</h4>
                        <!--                <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p>-->
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>10:00</time>
                    </div>
                    <div class="col-md-3">
                        <h4>TTNC with Valet Plus and not Docker or similiar from an agency perspective</h4>
                        <p>Chrisopther Holst</p>
                    </div>
                    <div class="col-md-3">
                        <h4>I am not a hyperactive child, but still: I have ADHD</h4>
                        <p>Hans-Christian Otto</p>
                    </div>
                    <div class="col-md-3">
                        <h4>SMOXY - a new short cut for better TTFB</h4>
                        <p>Lukas und Dennis</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>11:00</time>
                    </div>
                    <div class="col-md-3">
                        <h4>Live coding: Setup a Kubernetes Cluster in Hetzner (for Tobys website)</h4>
                        <p>Bastian &amp; Toby</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Fucking up projects - a manual</h4>
                        <p>Fabian Blechschmidt, Erik Kort</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Incorporating Tools like ChatGPT into your development process</h4>
                        <p>Yann Karl, Daniel Wu</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>12:00</time>
                    </div>
                    <div class="col-md-3">
                        <h4>Data Pipelines with PHP - How to import/export/migrate millions of data</h4>
                        <p>Jochen Manz</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Leveling Up Business with ESports Insights</h4>
                        <p>Francisco Santacreu</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Alternatives to getting payed by the hour as an agency/freelancer/service company
                            (discussion)</h4>
                        <p>Florian Sowade, Hans-Christian Otto</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>13:00 - 13:30 (30min!)</time>
                    </div>
                    <div class="col-md-3">
                        <h4>Event Storming - an introduction</h4>
                        <p>Thomas Nunnigner</p>
                    </div>
                    <div class="col-md-3">
                        <h4>How to create a remove environment that does not suck - PART 2</h4>
                        <p>Toby</p>
                    </div>
                    <div class="col-md-3">
                        <h4>How to modernise a 12 years old web application - and the whole company</h4>
                        <p>Dirk Ollmetzer</p>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>13:30</time>
                    </div>
                    <div class="col-md-9">
                        <h4>lunch break</h4>
                    </div>
                </div>

                <div class="row schedule-item">
                    <div class="col-md-3">
                        <time>14:45</time>
                    </div>
                    <div class="col-md-3">
                        <h4>Performance Testing</h4>
                        <p>Ümit Cekige</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Swarm-Programing - a tryout (hands on)</h4>
                        <p>Thomas Nunniger</p>
                    </div>
                    <div class="col-md-3">
                        <h4>Using docker and kubernetes in automation testing</h4>
                        <p>Katarina</p>
                    </div>
                </div>

                <!--                <div class="row schedule-item">-->
                <!--                    <div class="col-md-2">-->
                <!--                        <time>10:00 AM</time>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-10">-->
                <!--                        <div class="speaker">-->
                <!--                            <img src="assets/img/speakers/1.jpg" alt="Brenden Legros">-->
                <!--                        </div>-->
                <!--                        <h4>Keynote <span>Brenden Legros</span></h4>-->
                <!--                        <p>Facere provident incidunt quos voluptas.</p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="row schedule-item">-->
                <!--                    <div class="col-md-2">-->
                <!--                        <time>11:00 AM</time>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-10">-->
                <!--                        <div class="speaker">-->
                <!--                            <img src="assets/img/speakers/2.jpg" alt="Hubert Hirthe">-->
                <!--                        </div>-->
                <!--                        <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>-->
                <!--                        <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="row schedule-item">-->
                <!--                    <div class="col-md-2">-->
                <!--                        <time>12:00 AM</time>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-10">-->
                <!--                        <div class="speaker">-->
                <!--                            <img src="assets/img/speakers/3.jpg" alt="Cole Emmerich">-->
                <!--                        </div>-->
                <!--                        <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>-->
                <!--                        <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="row schedule-item">-->
                <!--                    <div class="col-md-2">-->
                <!--                        <time>02:00 PM</time>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-10">-->
                <!--                        <div class="speaker">-->
                <!--                            <img src="assets/img/speakers/4.jpg" alt="Jack Christiansen">-->
                <!--                        </div>-->
                <!--                        <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>-->
                <!--                        <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="row schedule-item">-->
                <!--                    <div class="col-md-2">-->
                <!--                        <time>03:00 PM</time>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-10">-->
                <!--                        <div class="speaker">-->
                <!--                            <img src="assets/img/speakers/5.jpg" alt="Alejandrin Littel">-->
                <!--                        </div>-->
                <!--                        <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>-->
                <!--                        <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>-->
                <!--                    </div>-->
                <!--                </div>-->

                <!--                <div class="row schedule-item">-->
                <!--                    <div class="col-md-2">-->
                <!--                        <time>04:00 PM</time>-->
                <!--                    </div>-->
                <!--                    <div class="col-md-10">-->
                <!--                        <div class="speaker">-->
                <!--                            <img src="assets/img/speakers/6.jpg" alt="Willow Trantow">-->
                <!--                        </div>-->
                <!--                        <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>-->
                <!--                        <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>-->
                <!--                    </div>-->
                <!--                </div>-->

            </div>

            <!-- End Schdule Day 1 -->

            <!--            &lt;!&ndash; Schdule Day 2 &ndash;&gt;-->
            <!--            <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">-->
            <!--                <div class="row schedule-header">-->
            <!--                    <div class="offset-md-3 col-md-3">-->
            <!--                        <h4>The Witch</h4>-->
            <!--                        &lt;!&ndash;                <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p>&ndash;&gt;-->
            <!--                    </div>-->
            <!--                    <div class="col-md-3">-->
            <!--                        <h4>The Alley</h4>-->
            <!--                        &lt;!&ndash;                <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p>&ndash;&gt;-->
            <!--                    </div>-->
            <!--                    <div class="col-md-3">-->
            <!--                        <h4>Syndeo</h4>-->
            <!--                        &lt;!&ndash;                <p>Fugit voluptas iusto maiores temporibus autem numquam magnam.</p>&ndash;&gt;-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="row schedule-header">-->
            <!--                    <div class="col-md-3 text-center">-->
            <!--                        To be voted on.-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                &lt;!&ndash;            <div class="row schedule-item">&ndash;&gt;-->
            <!--                &lt;!&ndash;              <div class="col-md-2"><time>10:00 AM</time></div>&ndash;&gt;-->
            <!--                &lt;!&ndash;              <div class="col-md-10">&ndash;&gt;-->
            <!--                &lt;!&ndash;                <div class="speaker">&ndash;&gt;-->
            <!--                &lt;!&ndash;                  <img src="assets/img/speakers/1.jpg" alt="Brenden Legros">&ndash;&gt;-->
            <!--                &lt;!&ndash;                </div>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <h4>Libero corrupti explicabo itaque. <span>Brenden Legros</span></h4>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <p>Facere provident incidunt quos voluptas.</p>&ndash;&gt;-->
            <!--                &lt;!&ndash;              </div>&ndash;&gt;-->
            <!--                &lt;!&ndash;            </div>&ndash;&gt;-->

            <!--                &lt;!&ndash;            <div class="row schedule-item">&ndash;&gt;-->
            <!--                &lt;!&ndash;              <div class="col-md-2"><time>11:00 AM</time></div>&ndash;&gt;-->
            <!--                &lt;!&ndash;              <div class="col-md-10">&ndash;&gt;-->
            <!--                &lt;!&ndash;                <div class="speaker">&ndash;&gt;-->
            <!--                &lt;!&ndash;                  <img src="assets/img/speakers/2.jpg" alt="Hubert Hirthe">&ndash;&gt;-->
            <!--                &lt;!&ndash;                </div>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>&ndash;&gt;-->
            <!--                &lt;!&ndash;              </div>&ndash;&gt;-->
            <!--                &lt;!&ndash;            </div>&ndash;&gt;-->

            <!--                &lt;!&ndash;            <div class="row schedule-item">&ndash;&gt;-->
            <!--                &lt;!&ndash;              <div class="col-md-2"><time>12:00 AM</time></div>&ndash;&gt;-->
            <!--                &lt;!&ndash;              <div class="col-md-10">&ndash;&gt;-->
            <!--                &lt;!&ndash;                <div class="speaker">&ndash;&gt;-->
            <!--                &lt;!&ndash;                  <img src="assets/img/speakers/3.jpg" alt="Cole Emmerich">&ndash;&gt;-->
            <!--                &lt;!&ndash;                </div>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>&ndash;&gt;-->
            <!--                &lt;!&ndash;              </div>&ndash;&gt;-->
            <!--                &lt;!&ndash;            </div>&ndash;&gt;-->

            <!--                &lt;!&ndash;            <div class="row schedule-item">&ndash;&gt;-->
            <!--                &lt;!&ndash;              <div class="col-md-2"><time>02:00 PM</time></div>&ndash;&gt;-->
            <!--                &lt;!&ndash;              <div class="col-md-10">&ndash;&gt;-->
            <!--                &lt;!&ndash;                <div class="speaker">&ndash;&gt;-->
            <!--                &lt;!&ndash;                  <img src="assets/img/speakers/4.jpg" alt="Jack Christiansen">&ndash;&gt;-->
            <!--                &lt;!&ndash;                </div>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>&ndash;&gt;-->
            <!--                &lt;!&ndash;              </div>&ndash;&gt;-->
            <!--                &lt;!&ndash;            </div>&ndash;&gt;-->

            <!--                &lt;!&ndash;            <div class="row schedule-item">&ndash;&gt;-->
            <!--                &lt;!&ndash;              <div class="col-md-2"><time>03:00 PM</time></div>&ndash;&gt;-->
            <!--                &lt;!&ndash;              <div class="col-md-10">&ndash;&gt;-->
            <!--                &lt;!&ndash;                <div class="speaker">&ndash;&gt;-->
            <!--                &lt;!&ndash;                  <img src="assets/img/speakers/5.jpg" alt="Alejandrin Littel">&ndash;&gt;-->
            <!--                &lt;!&ndash;                </div>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>&ndash;&gt;-->
            <!--                &lt;!&ndash;              </div>&ndash;&gt;-->
            <!--                &lt;!&ndash;            </div>&ndash;&gt;-->

            <!--                &lt;!&ndash;            <div class="row schedule-item">&ndash;&gt;-->
            <!--                &lt;!&ndash;              <div class="col-md-2"><time>04:00 PM</time></div>&ndash;&gt;-->
            <!--                &lt;!&ndash;              <div class="col-md-10">&ndash;&gt;-->
            <!--                &lt;!&ndash;                <div class="speaker">&ndash;&gt;-->
            <!--                &lt;!&ndash;                  <img src="assets/img/speakers/6.jpg" alt="Willow Trantow">&ndash;&gt;-->
            <!--                &lt;!&ndash;                </div>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>&ndash;&gt;-->
            <!--                &lt;!&ndash;                <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>&ndash;&gt;-->
            <!--                &lt;!&ndash;              </div>&ndash;&gt;-->
            <!--                &lt;!&ndash;            </div>&ndash;&gt;-->

            <!--            </div>-->
            <!--            &lt;!&ndash; End Schdule Day 2 &ndash;&gt;-->

            <!--            &lt;!&ndash; Schdule Day 3 &ndash;&gt;-->
            <!--            <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">-->

            <!--                <div class="row schedule-item">-->
            <!--                    <div class="col-md-2">-->
            <!--                        <time>10:00 AM</time>-->
            <!--                    </div>-->
            <!--                    <div class="col-md-10">-->
            <!--                        <div class="speaker">-->
            <!--                            <img src="assets/img/speakers/2.jpg" alt="Hubert Hirthe">-->
            <!--                        </div>-->
            <!--                        <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>-->
            <!--                        <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="row schedule-item">-->
            <!--                    <div class="col-md-2">-->
            <!--                        <time>11:00 AM</time>-->
            <!--                    </div>-->
            <!--                    <div class="col-md-10">-->
            <!--                        <div class="speaker">-->
            <!--                            <img src="assets/img/speakers/3.jpg" alt="Cole Emmerich">-->
            <!--                        </div>-->
            <!--                        <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>-->
            <!--                        <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="row schedule-item">-->
            <!--                    <div class="col-md-2">-->
            <!--                        <time>12:00 AM</time>-->
            <!--                    </div>-->
            <!--                    <div class="col-md-10">-->
            <!--                        <div class="speaker">-->
            <!--                            <img src="assets/img/speakers/1.jpg" alt="Brenden Legros">-->
            <!--                        </div>-->
            <!--                        <h4>Libero corrupti explicabo itaque. <span>Brenden Legros</span></h4>-->
            <!--                        <p>Facere provident incidunt quos voluptas.</p>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="row schedule-item">-->
            <!--                    <div class="col-md-2">-->
            <!--                        <time>02:00 PM</time>-->
            <!--                    </div>-->
            <!--                    <div class="col-md-10">-->
            <!--                        <div class="speaker">-->
            <!--                            <img src="assets/img/speakers/4.jpg" alt="Jack Christiansen">-->
            <!--                        </div>-->
            <!--                        <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>-->
            <!--                        <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="row schedule-item">-->
            <!--                    <div class="col-md-2">-->
            <!--                        <time>03:00 PM</time>-->
            <!--                    </div>-->
            <!--                    <div class="col-md-10">-->
            <!--                        <div class="speaker">-->
            <!--                            <img src="assets/img/speakers/5.jpg" alt="Alejandrin Littel">-->
            <!--                        </div>-->
            <!--                        <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>-->
            <!--                        <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--                <div class="row schedule-item">-->
            <!--                    <div class="col-md-2">-->
            <!--                        <time>04:00 PM</time>-->
            <!--                    </div>-->
            <!--                    <div class="col-md-10">-->
            <!--                        <div class="speaker">-->
            <!--                            <img src="assets/img/speakers/6.jpg" alt="Willow Trantow">-->
            <!--                        </div>-->
            <!--                        <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>-->
            <!--                        <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--            </div>-->
            <!--            &lt;!&ndash; End Schdule Day 2 &ndash;&gt;-->

            <!--        </div>-->
        </div>
</section>
<!--
<section id="map" class="section-with-bg">
    <div class="container wow fadeInUp">
        <div class="section-header">
            <h2>Map to lunch and after-show-party</h2>
            <img src="assets/img/map.jpg" class="img-fluid">
        </div>
    </div>
</section>
-->
