<!--==========================
      Sponsors Section
    ============================-->
<section id="sponsors" class="section-with-bg wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>Sponsors</h2>
    </div>

    <div class="row no-gutters sponsors-wrap clearfix">
      {% for sponsor in section.sponsors %}
      <div
        class="col-lg-{{ sponsor.width | times: 3 }} col-md-{{ sponsor.width | times: 4 }} col-xs-{{ sponsor.width | times: 6 }}">
        <div class="sponsors-logo">
          <a href="{{ sponsor.link }}" target="_blank"><img src="{{ sponsor.logo }}" class="img-fluid"
              alt="{{ sponsor.name }}" /></a>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>