    <!--==========================
      Venue Section
    ============================-->
    <section id="venue" class="wow fadeInUp">

      <div class="container-fluid">

        <div class="section-header">
          <h2>Event Venue</h2>
          <p>Event venue location info and gallery</p>
        </div>

        <div class="row no-gutters">
          <div class="col-lg-6 venue-map">
            <iframe src="{{ section.google-maps-link }}" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6 venue-info">
            <div class="row justify-content-center">
              <div class="col-11 col-lg-8">
                <h3>{{ section.venue-name }}</h3>
                <p>{{ section.venue-description }}</p>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="container-fluid venue-gallery-container">
        <div class="row no-gutters">

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/1.jpg" class="venobox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/1.jpg" alt="" class="assets/img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/2.jpg" class="venobox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/2.jpg" alt="" class="assets/img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/3.jpg" class="venobox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/3.jpg" alt="" class="assets/img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/4.jpg" class="venobox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/4.jpg" alt="" class="assets/img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/5.jpg" class="venobox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/5.jpg" alt="" class="assets/img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/6.jpg" class="venobox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/6.jpg" alt="" class="assets/img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/7.jpg" class="venobox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/7.jpg" alt="" class="assets/img-fluid">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="venue-gallery">
              <a href="assets/img/venue-gallery/8.jpg" class="venobox" data-gall="venue-gallery">
                <img src="assets/img/venue-gallery/8.jpg" alt="" class="assets/img-fluid">
              </a>
            </div>
          </div>

        </div>
      </div>

    </section>
