<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Web Engineering Unconference</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <meta property="og:image" content="https://weuc.eu/assets/img/weuc-group-fb-thumbnail.jpg" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://weuc.eu" />
  <meta property="og:title" content="#WEUC - Web Engineering Unconference" />
  <meta property="og:description" content="Catch up with an enthusiastic group of like minded people who are crazy about web technologies. No matter if you're an Engineer, DevOps, Architect, PO or Project Manager - everyone is welcome." />

  <!-- Favicons -->
  <!--
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  -->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="assets/lib/animate/animate.min.css" rel="stylesheet">
  <link href="assets/lib/venobox/venobox.css" rel="stylesheet">
  <link href="assets/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="assets/css/style.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">

</head>

<body>
<!--==========================
Header
============================-->
<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="#main">#WE<span>U</span>C</a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        {% assign sections = site.sections | sort: 'order' %}
        {% for section in sections %}
          {% if section.navtitle == nil or section.active != true %}
            {% continue %}
          {% endif %}
          {% if section.slug == "intro" %}
            <li class="menu-active"><a href="#{{ section.slug }}">{{ section.navtitle }}</a></li>
          {% elsif section.slug == "buy-tickets" %}
            <li class="buy-tickets"><a href="#{{ section.slug }}">{{ section.navtitle }}</a></li>
          {% else %}
            <li><a href="#{{ section.slug }}">{{ section.navtitle }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav><!-- #nav-menu-container -->

  </div>
</header><!-- #header -->
